@font-face {
  font-family: 'Marck';
  src: url('http://airneis.ddns.net:3001/MarckScript-Regular.ttf');
}

@font-face {
  font-family: 'Acme';
  src: url('http://airneis.ddns.net:3001/Acme-Regular.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: calc(100vh - 12px);
}

.login-card {
  position: relative;
  width: 300px;
  height: max-content;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 10px #ccc;
}

.contact-card {
  position: relative;
  width: 400px;
  height: max-content;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 10px #ccc;
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
  height: 100%;
}

.card-header .log {
  margin: 0;
  font-size: 30px;
  color: black;
}

.card-header .contact-log {
  margin: 0;
  margin-bottom: 20px;
  font-size: 35px;
  color: black;
}

.contact-log {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Acme';
  font-size: 35px;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

.form-message {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="text"], input[type="message"] {
  width: 100%;
  padding: 12px 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

textarea[type="text"], input[type="message"] {
  width: 100%;
  padding: 12px 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

input[type="submit"] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ccc;
  color: black;
}

.ConnexionTitre{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 70px;
  font-family: 'Marck';
}

.ContactTitre{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 70px;
  font-family: 'Acme';
}

.logo-airneis-connexion{
  margin-right: 20px;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
}



/* NavBar */

.NavTitre{
  margin-left: 20px;
  font-family: 'Marck';
  font-weight: bold;
  font-size: 40px ;
  color: #ffffff;
}

.NavTitre:hover {
  text-shadow: 0 0 5px #e8e7e7;
  }

.NavItems{
  align-items: center;
}

.icone-recherche {
  width: 32px;
}

.icone-recherche:hover {
  filter: contrast(10%);
}

.nav-bg {
 background-color: #4e4d4d !important;
 border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-bg-footer {
  background-color: #4e4d4d !important;
 }

.logo-airneis {
  margin-bottom: 7px;
  margin-top: -11px;
  margin-left: 80px;
  filter: saturate(200%);  
}


.logo-airneis:hover {
  filter: saturate(300%);
}

.info-airneis {
  text-align: center;
  margin: 0;
  font-family: "Acme";
  font-size: 26px;
  font-weight: bold;
}

.categorie {
  text-align: center;
  color: black !important;
  margin: 0;
  font-family: "Acme";
  font-size: 16px;
  font-weight: bold;
}

.footer {
  margin-left: 80px;
}

.info-airneis p {
  margin: 0 !important;
}

.cat {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cat-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-img {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
  }

  .img1 {
    margin-right: 30px;
  }
  
  .img2 {
    margin-left: 30px;
  }

  .Min-heightConteiner{
    min-height: calc(100vh - 66px - 220px);
  }

  .Min-heightConteiner-footer{
    min-height: calc(50vh - 66px - 220px);
  }

.Min-heightConteinerPanier{
  background-color: #e3dfdd;
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: auto;
  margin-bottom: 10px;
  height: auto;
  padding: 30px;
  padding-bottom: 0;

}

.menu-navigation {
  position: relative;
}

.icone-menu {
  cursor: pointer;
}
.menu {
  position: absolute;
  top: 100%;
  right: 0; 
  padding: 20px;
  background-color: #2e2b2b;
  box-shadow: 0 0 10px rgba(255, 240, 240, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, width 0.8s ease-in-out;
  z-index: 11;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.menu.ouvert {
  opacity: 1;
  visibility: visible;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: flex;
  padding: 5px 0;
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.menu a:hover {
  color: rgb(209, 184, 115);
  filter: saturate(100%);

}

.compteNav{
  color: rgb(59, 59, 59);
  text-decoration: none;
}

.compteNav:hover{
  color: #e96e1d;
}

.footer{
  transition: 1s;
}

.titreConnexion:hover{
  text-shadow: 1px 1px 1px rgb(255, 152, 61), 0 0 1em rgb(255, 190, 110), 0 0 0.2em rgb(255, 203, 139);
}

.divArticles{
  width: 500px;
  margin-right: 50px;
  height: 70vh;
  overflow: auto;
}

.divLivraisonArticles{
  width: 700px;
}

.divPrixArticles{
  width: 400px;
  height: 100%;
  margin-left: 50px;
}

.divPrixArticles p{
  margin-bottom: 25px;
}

.cgu-title {
  display: flex;
  justify-content: center;
  font-family: 'Acme';
}

.cgu-title2 {
  display: flex;
  font-family: 'Acme';
}

.TotalPayer{
  display: flex;
  justify-content: space-between;
}

.ImgArticlesPanier{
  margin-bottom: 0px !important;
}

.ImgArticlesPanier p{
  margin-left: 20px;
}

.troisbarresMenu{
  margin-right: 20px;
}

.icon-contact {
  margin-bottom: -10px;
  margin-left: 20px;
  font-family: 'Acme';
  font-size: 20px ;
}

main {
  min-height: calc(100vh - 66px);
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  margin-left: 0px !important;
}

.margin-left {
  margin-left: 20px !important;
}

.margin-right {
  margin-right: 20px !important;
}

td, th {
  vertical-align: middle;
  padding: 2px !important;
  text-align: center;
}

.nombre-panier {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.text-decoration {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}


.mon-compte-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.label-nom,
.label-email,
.label-mdp {
  font-weight: bold;
  margin-bottom: 5px;
}

.info-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-label {
  width: 100px;
}

.info-value {
  flex-grow: 1;
}

.button-group button {
  margin-right: 20px;
}

.password-input {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.success-message {
  color: green;
  font-weight: bold;
  text-align  : center;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align  : center;
}

.highlander {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}

#rounded-img {
  border: 2px solid rgb(199, 196, 196);
  border-radius: 3%;
  min-height: 330px;
}

#rounded-img:hover {
  scale: 1.01;
  transition:0.2s ease-in-out, width 0.8s ease-in-out;
}

#icon-cat {
  min-height: 100px;
}

#icon-cat:hover {
  scale: 1.08;
}

.commandes {
  max-width: 200px;
  margin-top: 20px;
}

.description {
  margin-left: 50px;
  margin-right: 30px;
  max-width: 600px;
  min-width: 400px;
}

.photo {
  max-width: 600px;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

.prix {
  font-family: "Acme";
  font-size: 25px;
  font-weight: bold;
}

.titreProduit {
  font-family: "Acme";
  font-size: 40px;
  font-weight: bold;
}

.imgproduit {
  border: 1px solid #ccc;
}
